 *{
 padding:0px;margin:0px;
 }
 header { 
 width:100%;height:100vh;
 background-size:cover;
 }
 nav {
 width:100%; height:100px; color:black;
 display: flex; justify-content: space-around;
 align-items: center; font-family:cursive; 
 }
 .logo2 {
 font-size:30px;
 }
  .menu a{
 text-decoration:none; padding:10px 20px;
 font-size:20px; position: relative;color:black;
 }
 .menu a:before{
 content:''; position:absolute;
 top:0; left:0; width:0%; height:100%;
 border-bottom: 2px solid indianred;
 transition: 0.5s linear;
 }
 .menu  a:hover:before{
 width:100%;
 }
 .reg a{
 text-decoration:none; color:white; padding:10px 20px;
 font-size:20px; background: indianred; border-radius:8px;
 transition:0.4s;align:right;
 }
 .reg  a:hover{
 background: white; color:indianred;
 border:6px solid indianred;
 }
 body {
 color:indianred; font-family:Swis721 Blk BT;
 }
