* {
padding: 0;margin: 0;
font-family:sans-serif;
}
body{ 
background: url('../Images/71.jpg');background-size: cover;
}
.log{
width:350px;top:50%;left:50%;
transform:translate(-50%,-50%);
position:absolute;color: #fff;
}
.log h1{
font-size: 50px;
text-align:center;margin:40px ;
}
.log  p{
font-size:20px;margin:15px ;
}
.log  input{
font-size: 16px;width: 100%;
padding: 15px 10px;border:0;
outline: none;border-radius: 5px;
}
.log button{
font-size: 18px;font-weight: bold;
margin-top:20px;padding: 10px 15px;
width: 40%;background: indianred;
border-radius:5px;border:0;margin-left:20px;
}
.log a{
color:white;font-family:Swis721 Blk BT;
font-size:22px; text-decoration:none;
}